pkgbase = systemd_http_health_check
	pkgdesc = A companion daemon to notify systemd about the health of a HTTP server
	pkgver = 0.2.0
	pkgrel = 1
	url = http://github.com/jhass/systemd_http_health_check
	arch = x86_64
	license = BSD
	makedepends = crystal
	makedepends = shards
	depends = systemd-libs
	depends = gc
	depends = libevent
	depends = pcre
	source = systemd_http_health_check-0.2.0.tar.gz::https://github.com/jhass/systemd_http_health_check/archive/refs/tags/v0.2.0.tar.gz
	sha256sums = 73e323d124082fd15857d0446464b1e5ccd3dc8d33304c0fee56c3f30e014f0f

pkgname = systemd_http_health_check
